[Unit]
Description=onedev-lifecapital

[Service]
WorkingDirectory=/opt/onedev-lifecapital
ExecStart=/opt/onedev-lifecapital/bin/server.sh console
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=onedev-lifecapital
User=www-data

[Install]
WantedBy=multi-user.target